:root {
    --leaflet-tile-filter: brightness(0.625) invert(1) contrast(4) hue-rotate(150deg) saturate(0.6) brightness(0.8);
}

@media (prefers-color-scheme: dark) {
    .leaflet-tile {
        filter: var(--leaflet-tile-filter, none);
    }

    .leaflet-container {
        background: #303030;
    }
}